{% render 'partials/head.liquid' %}

{% render 'partials/header-veronica.liquid' %}

<section class="programma-sec">

    {% comment %} loop voor de programmas zelf in veronica met daarbij de tijden en artiest {% endcomment %}
    {% for data in algemeen %}
        <article class="programma">
            <div>
                <h2>{{ data.show.name }}</h2>
                <p class="informatie-show">{{ data.show.body }}</p>
            </div>
            <div>
                <img src="/images/Time.svg" alt="tijd">
                <time datetime="{{ data.from }} {{ data.until }}" class="artiest-tijd">{{ data.from | slice: 0,5 }} - {{ data.until | slice: 0,5 }}</time>
            </div>

            {% comment %} de loop in de loop zorgt ervoor dat er meerdere data word geladen zonder dat je errays er in hoeft te verwerken {% endcomment %}
            {% for person in data.show.users %}
                <div>
                    <img src="/images/User.svg" alt="gebruiker">
                    <p class="naam-artiest">{{ person.mh_users_id.full_name }}</p>
                </div>
                {% comment %} <img class="persoon-radio" src="https://fdnd-agency.directus.app/assets/{{ person.mh_users_id.cover }}" alt="cover van artiest">  {% endcomment %}
                <picture class="persoon-radio-overlay">
                    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ person.mh_users_id.cover }}?format=avif" loading="lazy">
                    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ person.mh_users_id.cover }}?format=webp" loading="lazy">
                    <img class="persoon-radio" src="https://fdnd-agency.directus.app/assets/{{ person.mh_users_id.cover }}" alt="cover van artiest" width="48px" height="48px" loading="lazy">
                </picture>
            {% endfor %}   

            <button class="play">
                <img src="/images/play-button.svg" alt="play button">
            </button>

            {% assign is_liked = false %}
            {% for like in likes.liked_shows %}
                {% if like.mh_show_id.id == data.show.id %}
                    {% assign is_liked = true %}
                {% endif %}
            {% endfor %}
            
            {% if is_liked %}

            <form action="/veronica/dislike" method="POST" data-enhanced="form-{{ data.show.id }}">
                <input type="hidden" name="showid" value="{{ data.show.id }}">
                <button class="like" type="submit">
                    <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="11" fill="#0091FF" stroke="#FAFAFA" stroke-width="2"/>
                    <path d="M5.92258 12.6448L11.8553 18.4328V8.15909C10.8135 6.88572 9.00951 6.56738 8.23777 6.56738C7.46604 6.56738 5.77788 7.00148 5.19908 8.73789C4.62027 10.4743 5.44024 12.066 5.92258 12.6448Z" fill="#FE0170"/>
                    <path d="M17.788 12.6448L11.8553 18.4328V8.15909C12.8971 6.88572 14.7011 6.56738 15.4728 6.56738C16.2445 6.56738 17.9327 7.00148 18.5115 8.73789C19.0903 10.4743 18.2703 12.066 17.788 12.6448Z" fill="#FE0170"/>
                    </svg>
                </button>
            </form>

            {% else %}

            <form action="/veronica/like" method="POST" data-enhanced="form-{{ data.show.id }}">
                <input type="hidden" name="showid" value="{{ data.show.id }}">
                <button class="like" type="submit">
                    <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="11" fill="#0091FF" stroke="#FAFAFA" stroke-width="2"/>
                    <path d="M5.92258 12.6448L11.8553 18.4328V8.15909C10.8135 6.88572 9.00951 6.56738 8.23777 6.56738C7.46604 6.56738 5.77788 7.00148 5.19908 8.73789C4.62027 10.4743 5.44024 12.066 5.92258 12.6448Z" fill="currentcolor"/>
                    <path d="M17.788 12.6448L11.8553 18.4328V8.15909C12.8971 6.88572 14.7011 6.56738 15.4728 6.56738C16.2445 6.56738 17.9327 7.00148 18.5115 8.73789C19.0903 10.4743 18.2703 12.066 17.788 12.6448Z" fill="currentcolor"/>
                    </svg>
                </button>
            </form>
            {% endif %}
        </article>
    {% endfor %}

    <section class="bekijk-ook">

    </section>
</section>

<script type="module">

    document.addEventListener('submit', async function(event) {

    const form = event.target

    if (!form.hasAttribute('data-enhanced')) {
     return
    }

    // default weghalen en loading state toegevoegd

    event.preventDefault()

    form.classList.add('loading')



    let formData = new FormData(form)

    if (event.submitter) {
        formData.append(event.submitter.name, event.submitter.value)
    }

    const response = await fetch (form.action, {
    method: form.method,
    body: new URLSearchParams(formData)
    })

    const responseText = await response.text()

    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseText, 'text/html')

    const newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]')

    // laoding state remove
    form.classList.remove('loading')

    // succes state
    if (form.action.includes("/like")) {
        newState.classList.add('succes')
    }

    // view transition

    // Overschrijf ons formulier met de nieuwe HTML, met of zonder een View Transition, afhankelijk van de browser
    // if (document.startViewTransition) {
    //     document.startViewTransition(function() {
    //         form.outerHTML = newState.outerHTML
    //     })
    // } else {
    //     form.outerHTML = newState.outerHTML
    // }

    form.outerHTML = newState.outerHTML
})

</script>

{% render 'partials/foot.liquid' %}